*{box-sizing: content-box
}

p{
    margin: 20px;
    padding: 0px 10px 10px 10px;
}
#food{
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-image: url(./Fotos-Index/BACKGROUND-MP-LGREY.jpg);
    background-repeat: repeat;
    background-size: 50%;
    text-align: center;
    margin: 0;
}

img{
    max-width: 90%;
}

h1{
    color: #504242;
    padding-top: 10px;
    padding-bottom: 20px;
}

section {
    padding-top: 40px;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
    z-index: 3;
}
.banner-divisor{
    background-color: white;
    width: 100%;
}

.item-list :hover{
    color: rgb(44, 44, 44);
    background-color: rgb(192, 187, 184);
    border-radius: 10px;
    border: solid 3px;
    padding: 5px;
}

.item-list a{
    text-decoration: none;
    font-size: larger;
    color: white;
    background-color: black;
}

.item-list{
    list-style: none;
}
.body-contacto{
    align-items: center;
}
.form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }

  .form .title {
    color: rgb(185, 49, 174);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 90%;
    height: 50px;
  }

  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 90%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }

  #button {
    align-self: center;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    width: 180px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(185, 49, 174);
    color: #fff;
    cursor: pointer;

  }
.titulo {

    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10PX;
    width: 100vw;
    height: 40px;
    /* border-radius: 15px; */
    background-color: white;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); */
}
.titulo-marca{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: 10PX;
    padding: 10PX;
    width: 200px !important;
    /* height: 25px; */
    border-radius: 15px;
    background-color: rgb(238, 120, 203);
}

.alim-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nuestras-secciones{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.alim-item,.nuestras-secciones p{
    padding: 5px;
}
.marca-alim{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 14pt;
    font-weight: bold;
    color: rgb(78, 74, 74);
}

.tipo-bolsa{
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    color: rgb(26, 25, 25);
    font-weight: bold;
    background-color: rgb(228, 225, 225, 0.7)

}
.alim-item:hover .tipo-bolsa{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid;
    transition: top 0.5s;
    z-index: 1;

}

.tipo-bolsa p{
    padding: 5px;
}
.seccion-grilla{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    color: black;
    background-color: rgb(228, 225, 225, 0.5)
}
.seccion-grilla p{
    font-size: x-large;
}
.seccion-grilla a{
    text-decoration: none;
    color: black;
}

.nuestras-secciones:hover .seccion-grilla {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 3px solid;
    border-color: rgb(218, 15, 167);
    transition: top 0.5s;
    z-index: 1;
}

.seccion-grilla-prod{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    color: black;
    background-color: rgb(228, 225, 225, 0.5)
}
.seccion-grilla-prod p{
    font-size: x-large;
}
.seccion-grilla-prod a{
    text-decoration: none;
    color: black;
}

.nuestras-secciones:hover .seccion-grilla-prod {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 3px solid;
    border-color: rgb(218, 15, 167);
    transition: top 0.5s;
    z-index: 1;
}
.cerrar-modal{
    background-color: rgb(218, 15, 167);
}

/* ---------------------
CSS para SECCION PRODUCTOS - MODA
--------------------- */

.grilla-400 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .card {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 20px;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  
  .first-content {
    width: 100%;
    transition: opacity 0.4s;
    opacity: 1;
    border-radius: 15px;
  }
  
  .first-content img {
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    opacity: 0;
  }
  
  .second-content {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s; /* Añadimos la transición para transform */
    transform-origin: center; /* El punto de origen de la transformación es el centro */
  }
  
  .second-content img {
    border-radius: 15px;
  }
  
  .card:hover .second-content {
    opacity: 1;
    transform: scale(1.1); /* Escala proporcional hacia los cuatro lados */
  }
  

#como-medir img{
    border-radius: 15px;
    margin: 10px;
}

  /* ---------------------------
CSS para secciones "Gatos, Perros y Pequeñas Mascotas"
--------------------------- */

.imagen-mascota-inicio{
    width: 50vw;
    border-radius: 100px;
    padding: 20pt;
}
.grilla-secc-mascotas-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.contenido-mascotas-imagen{
    width: 40vw;
    height: fit-content;
    margin: 10px;
    border-radius: 50px;
    /* background-color: grey; */
}
.contenido-mascotas-imagen img{
    border-radius: 50px;
}
.contenido-mascotas-texto{
    width: 40vw;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(128, 128, 128, 0.3);
    font-size: larger;
}
.logos-marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logos-marcas img{
    padding: 10px;
    border-radius: 40px;
    transition: 0.5s;
}
.logos-marcas img:hover{
    transform: scale(1.09);
}
.texto-cuidados{
    width: 25vw;
    height: 200px;
    background-color: gray;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    background-size: cover;
    background-position: center;
}
#contenido-cuidados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#care1{background-color: rgb(250, 235, 215, 0.5);}
#care2{background-image: url(./SECC-GATOS/gato-cepillar.jpg);}
#care3{background-color: rgba(252, 185, 98, 0.5);}
#care4{background-image: url(./SECC-GATOS/gato-bañandose.jpg);}
#care5{background-color: rgba(248, 128, 222, 0.5);}
#care5b{background-image: url(./SECC-GATOS/gato-uñas.jpg);}
#care6{background-color: rgba(188, 255, 134, 0.5);}
#care7{background-color: rgba(153, 176, 209, 0.5);}
#care8{background-image: url(./SECC-GATOS/gato-en-veterinaria1.jpg);}
#care8b{background-image: url(./SECC-GATOS/gato-estimulacion.webp);}
#care9{background-color: rgba(211, 250, 69, 0.5);}
#care10{background-image: url(./SECC-GATOS/gato-comiendo.webp);}
#care11{background-color: rgba(226, 102, 102, 0.5);}
#care11b{background-image: url(./SECC-GATOS/gato-chapita.jpg);}
#care11c{background-color: rgb(207, 165, 24);}
#care12{background-color: rgb(250, 235, 215, 0.5);}
#care13{background-image: url(./SECC-PERROS/Perro-con-plato-de-comida.png);}
#care14{background-color: rgba(252, 185, 98, 0.5);}
#care15{background-image: url(./SECC-PERROS/perro-corriendo-hierba-lengua-fuera.jpg);}
#care16{background-color: rgba(248, 128, 222, 0.5);}
#care17{background-image: url(./SECC-PERROS/perro-cuidado-dental.jpeg);}
#care18{background-color: rgba(188, 255, 134, 0.5);}
#care19{background-image: url(./SECC-PERROS/perro-en-veterinario.jpg);}
#care20{background-color: rgba(153, 176, 209, 0.5);}
#care21{background-image: url(./SECC-PERROS/perro-socializacion.jpg);}
#care22{background-color: rgba(211, 250, 69, 0.5);}
#care23{background-image: url(./SECC-PERROS/perro-descanso.webp);}
#care24{background-color: rgba(226, 102, 102, 0.5);}
#care25{background-image: url(./SECC-PERROS/perro-jugando.jpg);}
#care26{background-color: rgba(102, 120, 226, 0.5);}
#care27{background-image: url(./SECC-PERROS/perro-con-collar-y-placa.jpg);}
#care28{background-color: rgba(252, 185, 98, 0.5);}
#care29{background-image: url(./SECC-PEQUE/jerbo-comiendo.jpg);}
#care30{background-color: rgba(248, 128, 222, 0.5);}
#care31{background-image: url(./SECC-PEQUE/entorno-seguro-hamster.jpg);}
#care32{background-color: rgba(188, 255, 134, 0.5);}
#care33{background-image: url(./SECC-PEQUE/veterinaria-cobaya.jpg);}
#care34{background-color: rgba(153, 176, 209, 0.5);}
#care35{background-image: url(./SECC-PEQUE/hamster-actividad-fisica.jpg);}
#care36{background-color: rgba(211, 250, 69, 0.5);}
#care37{background-image: url(./SECC-PEQUE/cinchilla-caja\ -de\ arena.jpg);}
#care38{background-color: rgba(226, 102, 102, 0.5);}
#care39{background-image: url(./SECC-PEQUE/niño-mira-hamster.jpeg);}


/* Para SECCIONES Entretenimiento */
.grilla-entret-gato{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* ---------------- */

/* IMAGEN A TEXTO */

.contenedor-juego {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 50px;
    margin: 15px;
}
.imagen-juego {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50px;
    transition: transform 0.5s;
}
.texto-overlay-juego {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s;
}
.contenedor-juego:hover .imagen-juego {
    opacity: 0.5; 
}
.contenedor-juego:hover .texto-overlay-juego {
    opacity: 1; 
}
/* ----------------- */
/* TEXTO A IMAGEN */

.texto-juego {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    transition: transform 0.5s;
}
.imagen-overlay-juego {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s;
}
.contenedor-juego:hover .texto-juego {
    opacity: 0; 
}
.contenedor-juego:hover .imagen-overlay-juego {
    opacity: 1; 
}
/* ----------------- */
#text1{
    background-color: rgb(67, 67, 207, 0.7);
    color: white;
}
#text2{
    background-color: rgba(102, 228, 43, 0.7);
    color: black;
}
#text3{
    background-color:   rgba(212, 37, 174, 0.5);
    color: black;
}
#text4{
    background-color:   rgba(212, 194, 37, 0.5);
    color: black;
}
#text5{
    background-color:   rgba(84, 73, 92, 0.5);
    color: white;
}
#text6{
    background-color:   rgba(255, 0, 0, 0.5);
    color: white;
}
#text7{
    background-color:   rgba(10, 151, 22, 0.5);
    color: white;
}
#text8{
    background-color:   rgba(7, 155, 148, 0.5);
    color: black;
}

/* ----------------------------
---------------------------- */

/* tratando de hacer hover en huella-click en gatos */
#huella-click{
    transform: 0.3s ease-in-out;
}
#huella-click:hover {
    transition: scale (1.1)

}
/* -------------------------- */

#border50 img{
    border-radius: 50px;
    padding: 20px;
}

#border50-secciones img{
    border-radius: 50px;
    padding: 20px;
    width: 40vw;
}
#border50accesorios img{
    border-radius: 50px;
    padding: 20px;
    width: 50vw;
}

#menu-movil{
    display: none;
}
#menu-movil-landscape{
    display: none;
}

#perro-pc{
    display: flex;
    align-self: center;
    justify-content: center;

    margin: 30px;
    width: 60%;
    height: auto;
}
#perro-pc img{
    border-radius: 50px;
}


#barra{
    display: flex;
    padding: 0;
    /* border-radius: 30px; */
    justify-content: center;
    align-items: center;
    align-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;

}
#barra ul {
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#horario{
    display: none;
    position: absolute;
    top: 110%;
    right: 5px;
    color: black;
    background-color: rgb(219, 213, 213);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;

}

#horario-accion:hover + #horario{
    display: block;
}

#ver-en-movil{
    display: none;
}

#grilla1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
#grilla1 img {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    width: 400px; /* Ancho original del div */
    height: 200px; /* Alto original del div */
    transition: transform 0.3s;
}
#grilla1 img:hover{
    transform: scale(1.09);
}

#grilla-local {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
#grilla-local img {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    width: 600px;
    height: 300px;
}

#grilla-alim {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
#grilla-alim img {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    height: 300px;
    transition: transform 0.3s;

}
#grilla-alim img:hover{
    transform: scale(1.09);
}

#whatsapp-logo{
    position: fixed;
    bottom: 20px;
    right: 10px;
    max-width: 60px;
    max-height: 60px;
    z-index: 2;

}

#lorem{
    margin: 20px;
    padding-bottom: 20px;
}


#negrita{
    font-weight: bold;
    font-size: larger;
}

#descrip-larger{
    font-size: larger;
}
#descrip-xl{
    font-size: x-large;
}
#img-salon img{
    border-radius: 50px;
    width: 200px;
}

#img-salon{
    display: flex;
    justify-content: flex-start;
    list-style: none;


}

#volver{
    position: fixed;
    bottom: 20px;
    right: 10px;
    max-width: 80px;
    max-height: 80px;
    z-index: 4;
}
#volver img{
    border-radius: 15px;
}
#espacio-vacio{
    height: 30px;
    width: 100%;
}
#espacio-vacio1{
    height: 30px;
    width: 100%;
}

#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo-instagram{
    width: 30vw;
    padding: 15px;
}
#logo-instagram img{
    border-radius: 20px;
}
#nro-whatsapp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nro-whatsapp p{
    font-size: 22pt;
    color: rgb(49, 44, 44); padding-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nro-whatsapp img{
    width: 80px;
}

/* Para corregir la visualizacion segun la
resolucion del dispositivo. */
@media only screen and (max-width: 992px){

    h4{
        display: none;
    }

    .seccion-grilla-prod{
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        color: black;
        background-color: rgb(228, 225, 225, 0.5);
        border-radius: 20px;
        z-index: 1;
    }
    .seccion-grilla-prod p{
        font-size: x-large;
    }
    .seccion-grilla-prod a{
        text-decoration: none;
        color: black;
    }
    .texto-cuidados{
        height: 300px;
        width: 300px;
    }   

    #menu-movil{
        display: none;
    }

    #ver-en-pc{
        display: none;
    }
    #ver-en-movil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #huella-leer{
        width: 75px;
    }
    #huella-leer-2{
        width: 75px;
    }
    #barra{
        display: none;
    }
    #menu-movil-landscape{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #menu-movil-landscape ul{
        height: 50px;
        background-color: black;
        color: white;
        border-radius: 0px 30px 30px 0px;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}


@media only screen and (max-width: 768px){

    h4{
        display: none;
    }

    .seccion-grilla-prod{
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        color: black;
        background-color: rgb(228, 225, 225, 0.5);
        border-radius: 20px;
        z-index: 1;
    }
    .seccion-grilla-prod p{
        font-size: x-large;
    }
    .seccion-grilla-prod a{
        text-decoration: none;
        color: black;
    }

    #menu-movil{
        display: none;
    }

    #ver-en-pc{
        display: none;
    }
    #ver-en-movil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #huella-leer{
        width: 75px;
    }
    #huella-leer-2{
        width: 75px;
    }
    #barra{
        display: none;
    }
    #menu-movil-landscape{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #menu-movil-landscape ul{
        height: 50px;
        background-color: black;
        color: white;
        border-radius: 0px 30px 30px 0px;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 576px){

    *{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
    }

    body{
        background-image: url(./Fotos-Index/BACKGROUND-MP-LGREY.jpg);
        background-repeat: repeat;
        background-size: 90%;
    }

    h1{
        color: #504242;
    }
    footer{
        display: flex;
        width: 100vw;
    }
    h4{
        display: none;
    }
    
    .btn-close{
        display: none;
    }

    .boton-menu-movil{
        background-color: black;
        border: none;
    }

    .titulo {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15pt;
        font-weight: bold;
        margin: 20PX;
        padding: 10PX;
        width: 100vw;
        height: 40px;
        /* border-radius: 15px; */
        background-color: white;
        /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); */
    }

    .seccion-grilla-prod{
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        color: black;
        background-color: rgb(228, 225, 225, 0.5);
        border-radius: 20px;
        z-index: 1;
    }
    .seccion-grilla-prod p{
        font-size: x-large;
    }
    .seccion-grilla-prod a{
        text-decoration: none;
        color: black;
    }
    .form{
        width: 80vw;
        border-radius: 20px;
    }

    #perro-pc{
        width: 80vw;
    }
    #perro-pc img{
        border-radius: 20px;
    }
    #no-visual{
        display: none;
    }
    #espacio-vacio{
        display: none;
    }

    #ver-en-pc{
        display: none;
    }
    #ver-en-movil{
        display: flex;
    }
    #huella-leer{
        width: 20vw;
    }
    #huella-leer-2{
        width: 20vw;
    }
    #volver{
        position: fixed;
        bottom: 15px;
        right: 10px;
        max-width: 60px;
        max-height: 60px;
        z-index: 1;
    }

    #huella-click {
        width: 40vw;
    }

    #menu-movil{
        display: flex;
        flex-direction: row;
        width: 90vw;
        padding: 3px;
        background-color: black;
        border-radius: 15px;
        position: sticky;
        top: 15px;
        justify-content: space-evenly;
        z-index: 2;
    }

    #grilla-local img{
        width: 90vw;
        height: auto;
    }
    #grilla1 img{
        width: 100%;
        height: auto;
    }
    #border50{
        padding-top: 10px;
    }

    #border50-secciones img{
        width: 80vw;
    }

    #barra{
        display: none;
    }
    #menu-movil-landscape{
        display: none;
    }

    #grilla-alim {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }


    #logo-instagram{
        width: 60vw;
        padding: 15px;
    }
    #logo-instagram img{
        border-radius: 20px;
    }
    #nro-whatsapp{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #nro-whatsapp p{
        font-size: 15pt;
        color: rgb(49, 44, 44); padding-bottom: 0;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #nro-whatsapp img{
        width: 60px;
    }
    #espacio-vacio1{
        height: 30px;
        width: 100%;
    }

    .imagen-mascota-inicio{
        width: 90vw;
        border-radius: 80px;
        padding: 20pt;
        padding-top: 5pt;
    }
    .grilla-secc-mascotas-1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }
    .contenido-mascotas-imagen{
        width: 90vw;
        height: fit-content;
        margin: 10px;
        border-radius: 50px;
        /* background-color: grey; */
    }
    .contenido-mascotas-imagen img{
        border-radius: 50px;
    }
    .contenido-mascotas-texto{
        width: 80vw;
        height: fit-content;
        margin: 10px;
        padding: 20px;
        border-radius: 50px;
        background-color: rgb(128, 128, 128, 0.3);
        font-size: larger;
    }
    .logos-marcas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90vw;
    }
    .logos-marcas img{
        padding: 10px;
        border-radius: 40px;
        transition: 0.5s;
        width: 40dvw;
    }
    .logos-marcas img:hover{
        transform: scale(1.09);
    }
    .texto-cuidados{
        width: 90vw;
        background-color: gray;
        border-radius: 50px;
        margin: 20px;
        padding: 20px;
        background-size: cover;
        background-position: center;
    }
    .grilla-entret-gato{
        display: flex;
        align-items: center;
    }

    #cuidado-gato{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #contenido-cuidados{
        box-sizing: border-box;
        align-items: center;
        width: 95vw;
    }
    .texto-cuidados{
        width: 85dvw;
        align-items: center;
    }

    #ng1{order: 1;}
    #ng2{order: 2;}
    #ng3{order: 4;}
    #ng4{order: 3;}
    #ng5{order: 5;}
    #ng6{order: 6;}

}

@media only screen and (max-width: 399px){
    
    .logos-marcas{
        width: 100vw;
    }

}

